<h1>Crear Usuario</h1>

<div class="card">

    <div class="card-header">
        Featured
    </div>
    
    <div class="card-body">
        <form [formGroup]="formCreateUser">
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" formControlName="nombre" placeholder="Nombre" aria-label="name">
                 
            </div>
            
            <div class="mb-3">
                <label for="correo" class="form-label">Correo</label>
                <input type="email" class="form-control" formControlName="correo" id="input_email" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="text" id="rol" class="form-control" formControlName="password" placeholder="Password">
            </div>

            <div class="mb-3">
                <label for="rol" class="form-label">Rol</label>
                <input type="text" id="rol" class="form-control" formControlName="rol" placeholder="Rol">
            </div>
            
                                  
        </form>
        
    
    </div>
    <div class="card-footer">
        <button type="submit" (click)="createUser()" class="btn btn-primary">Crear</button>
        <button  class="btn btn-success ms-3">Cancelar</button>
    </div>
    
</div>

